html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 0px;
    margin-top: 46px;
}

#content-wrap {
    padding-bottom: 27rem; /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 27rem;
}

#btn-back-to-top {
    position: fixed;
    z-index: 999; 
    bottom: 50px;
    right: 20px;
    display: none;
}



#sticky {
    margin-top: 0px;
    height: 45px;
    padding: 10px;
}



.btn {
    /*border: none;
    color: white;*/
    /*padding: 10px;*/
    /*text-align: center;*/
   /* text-decoration: none;*/
    /*display: inline-block;*/
   /* font-size: 10px;*/
    /*margin: 4px 2px;*/
}

.btn1 {
    border-radius: 2px;
}

.btn2 {
    border-radius: 4px;
}

.btn3 {
    border-radius: 8px;
}

.btn4 {
    border-radius: 12px;
}

.btn5 {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    padding: 0px;
}