html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 0px;
    margin-top: 46px;
}

#content-wrap {
    padding-bottom: 27rem; /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 27rem;
}

#btn-back-to-top {
    position: fixed;
    z-index: 999; 
    bottom: 50px;
    right: 20px;
    display: none;
}



#sticky {
    margin-top: 0px;
    height: 45px;
    padding: 10px;
}


.facebook-btn{
    background-color: #3C589C;
    color: white;

}.google-btn{
    background-color: #DD4B39;
    color: white;
}

.btn {
    /*border: none;
    color: white;*/
    /*padding: 10px;*/
    /*text-align: center;*/
   /* text-decoration: none;*/
    /*display: inline-block;*/
   /* font-size: 10px;*/
    /*margin: 4px 2px;*/
}


.btn1 {
    border-radius: 2px;
}

.btn2 {
    border-radius: 4px;
}

.btn3 {
    border-radius: 8px;
}

.btn4 {
    border-radius: 12px;
}

.btn5 {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    padding: 0px;
}

.active2 {
    background-color: #2C5364;
    color: white;
}

.main-color {
    background: #2C5364;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #2C5364;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #0F2027, #203A43, #2C5364);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364)
}
.gradient-custom-black {
    /* fallback for old browsers */
    background: #232526;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #232526, #414345);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #232526, #414345)

}
.gradient-custom-hot {
    /* fallback for old browsers */
    background: #232526;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #232526, #414345);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ffe259, #ffa751)
}
