@using BulkyBook.Utility
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav pe-3">

	@if (User.IsInRole(SD.Role_Admin))
	{
		<li class="nav-item dropdown text-center">
			<a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				<div>
					<i class="fa-solid fa-lg fa-user-gear"></i>

				</div>
				Admin Portal
			</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
				<a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
				<a class="dropdown-item" asp-area="Admin" asp-controller="CoverType" asp-action="Index">Cover Type</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Company</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create User</a>
				<a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User Management</a>
			</div>
		</li>
		<li class="nav-item">  &nbsp &nbsp </li>
	}
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item text-center">
			<a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
				<div>
					<i class="fas fa-envelope fa-lg mb-1"></i>
				</div>
				Hello @UserManager.GetUserName(User)!
			</a>
		</li>
		<li class="nav-item">  &nbsp &nbsp </li>
		<li class="nav-item">
			<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button id="logout" type="submit" class="nav-link btn btn-link text-light">

					<div>
						<i class="fa-solid fa-lg fa-right-from-bracket"></i>
					</div>
					Logout
				</button>
			</form>
		</li>
		<li class="nav-item">  &nbsp &nbsp</li>
	}
	else
	{
		<li class="nav-item text-center">
			<a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">
				<div><i class="fa-solid fa-lg fa-address-card"></i></div>
				Register
			</a>
		</li>
		<li class="nav-item">  &nbsp &nbsp </li>
		<li class="nav-item text-center">
			<a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">
				<div><i class="fa-solid fa-lg fa-right-to-bracket"></i></div>
				Login
			</a>
		</li>
		<li class="nav-item">  &nbsp &nbsp </li>

	}
</ul>
